/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Main styling of the project starts from here*/

/* Styling for the main container */
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-block-start: 50px;
  width: 1440px;
  height: 840px;
  background: var(--cl-green, hsl(174, 62%, 47%, 0.04));
}

.mobile-icon {
  display: none;
}
/* the style for the top or left side of the page goes here */
.top-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 580px;
  margin-inline-start: 140px;

  > svg {
    margin-block-start: -205px;
    margin-block-end: 50px;
  }

  > h1 {
    color: var(--cl-black, #000b0a);
    font-family: poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
    margin-block-end: 20px;
  }

  > p {
    color: var(--cl-grey, #737373);
    font-family: poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 460px;
    text-align: left;
  }
}
.mobile {
  display: none;
}

/* <!-- the style for the bottom or right side of the page goes here --> */
.bottom-wrapper {
  width: 580px;
  height: 679px;
  margin-block-start: 81px;
  margin-block-end: 80px;
  margin-inline-end: 140px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  flex-shrink: 0;

  color: var(--text-headings, #011c34);
  font-family: Afacad, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
}

form {
  margin: 40px;
}

.inline-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

label .input,
select {
  display: block;
  width: 238px;
  height: 48px;
  flex-shrink: 0;
  margin-block-start: 10px;
  margin-block-end: 30px;
  border-radius: 2px;
  border: 1px solid var(--cl-gray-3, #f0f0f0);
}

input,
select {
  width: 500px;
  height: 48px;
  margin-block-start: 10px;
  margin-block-end: 30px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--cl-gray-3, #f0f0f0);

  color: var(--cl-grey, #737373);
  font-family: Afacad, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  padding-inline-start: 16px;
}

.focus:focus,
input:focus,
select:focus {
  outline: 0;
  border: 2px solid var(--cl-green, #2ec4b6);
  border-radius: 3px;
}

.hide-show svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 450px;
  margin-block-start: -60px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  color: rgba(166, 166, 166, 1);
  cursor: pointer;
}

input[type="submit"] {
  color: var(--basic-100, #fff);
  text-align: center;
  font-family: Afacad, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-block-start: 40px;
  margin-block-end: 16px;
  background-color: var(--cl-green, #2ec4b6);
  box-shadow: (80px 10px 40px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

p {
  text-align: center;
  color: #000;
  font-family: Afacad, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
}

p a {
  color: var(--cl-green, #2ec4b6);
  font-weight: 500;
  text-decoration-line: underline;
}

/* Media queries Mobile Responsive with the width of 375px*/
@media only screen and (max-width: 375px) {
  /* the main wrapper for the page which was row in the main css has been changed to column to make it stack on top */
  .wrapper {
    display: flex;
    flex-direction: column; /* or row-reverse */
    margin-block-start: 20px;
    width: 375px;
    height: 1294px;
    background: var(--cl-green, hsl(170, 60%, 98%, 0.04%));
  }

  .mobile-icon {
    display: block;
    display: flex;
    margin-inline-start: 15rem;
    width: 67px;
    height: 11.5px;
    margin-block-start: -50px;
    margin-block-end: 40px;
  }

  .top-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 327px;
    margin-inline-start: 0px;
    margin-block-end: 20px;

    > svg {
      width: 38.667px;
      height: 40px;
      flex-shrink: 0;
      margin-block-start: 2px;
      margin-block-end: 24px;
    }

    > h1 {
      color: var(--cl-black, #000b0a);
      font-family: poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.8px;
      margin-block-end: 12px;
    }
    .desktop {
      display: none;
    }
    > p {
      display: block;
      color: var(--cl-grey, #737373);
      font-family: poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 25px;
      width: 327px;
      text-align: left;
      margin-block-start: -12px;
    }
  }

  .bottom-wrapper {
    width: 327px;
    height: 870px;
    margin-block-start: 24px;
    margin-block-end: 24px;
    margin-inline-end: 0px;
  }

  form {
    margin: 16px;
  }

  .inline-form {
    display: flex;
    flex-direction: column;
  }

  .inputWrapper label input,
  select {
    width: 295px;
    height: 48px;
    margin-block-start: 16px;
    margin-block-end: 16px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--cl-gray-3, #f0f0f0);
    background: none;

    color: var(--cl-grey, #737373);
    font-family: Afacad, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
    padding-inline-start: 16px;
  }

  .inputWrapper label .inputs {
    width: 295px;
    height: 48px;
  }

  .hide-show svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 250px;
    margin-block-start: -48px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: rgba(166, 166, 166, 1);
    cursor: pointer;
  }

  input[type="submit"] {
    width: 295px;
    height: 48px;
    color: var(--basic-100, #fff);
    text-align: center;
    font-family: Afacad, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-block-start: 44px;
    margin-block-end: 30px;
    background-color: var(--cl-green, #2ec4b6);
    box-shadow: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  }
}
